$style-sets: (
    example_01: (
        row-color-dark: #2B2B3C,
        row-color-light: #ffffff,
        row-color-accent: #998d5e,
        row-color-dark-foreground: #FFFFFF,
        row-color-light-foreground: #2B2B3C,
        row-color-accent-foreground: #FFFFFF,
        row-font-body: 'Rubik',
        row-font-heading: 'Playfair Display',
        row-font-weight: 400
    ),
    example_02: (
        row-color-dark: #3E417E,
        row-color-light: #fff,
        row-color-accent: #E30019,
        row-color-dark-foreground: #fff,
        row-color-light-foreground: #1a1919,
        row-color-accent-foreground: #fff,
        row-font-body: 'Poppins',
        row-font-heading: 'Poppins',
        row-font-weight: 700
    ),
    example_03: (
        row-color-dark: #2c2b3d,
        row-color-light: #fff,
        row-color-accent: #998d5e,
        row-color-dark-foreground: #fdfcff,
        row-color-light-foreground: #2a2b3d,
        row-color-accent-foreground: #fff,
        row-font-body: 'Petrona',
        row-font-heading: 'Georgia',
        row-font-weight: 400
    ),
    example_04: (
        row-color-dark: #0c495e,
        row-color-light: #ebe7dc,
        row-color-accent: #feb904,
        row-color-dark-foreground: #fff,
        row-color-light-foreground: #65797d,
        row-color-accent-foreground: #072d3a,
        row-font-body: 'Lato',
        row-font-heading: 'Lato',
        row-font-weight: 300
    )
);

$style-set: map-get($style-sets, $style-set-id);

$row-color-dark: map-get($style-set, 'row-color-dark');
$row-color-light: map-get($style-set, 'row-color-light');
$row-color-accent: map-get($style-set, 'row-color-accent');
$row-color-dark-foreground: map-get($style-set, 'row-color-dark-foreground');
$row-color-light-foreground: map-get($style-set, 'row-color-light-foreground');
$row-color-accent-foreground: map-get($style-set, 'row-color-accent-foreground');
$row-font-heading: map-get($style-set, 'row-font-heading');
$row-font-body: map-get($style-set, 'row-font-body');
$row-font-weight: map-get($style-set, 'row-font-weight');

:root {
    --style-set-id: unquote($style-set-id);
    --row-color-dark: $row-color-dark;
    --row-color-light: $row-color-light;
    --row-color-accent: $row-color-accent;
    --row-color-dark-foreground: $row-color-dark-foreground;
    --row-color-light-foreground: $row-color-light-foreground;
    --row-color-accent-foreground: $row-color-accent-foreground;
    --row-font-heading: $row-font-heading;
    --row-font-body: $row-font-body;
    --row-font-weight: $row-font-weight;
}