$style-sets: (
    sprint: (
        row-color-dark: #2B2B3C,
        row-color-light: #ffffff,
        row-color-accent: #998d5e,
        row-color-dark-foreground: #FFFFFF,
        row-color-light-foreground: #2B2B3C,
        row-color-accent-foreground: #FFFFFF
    )
);

$style-set: map-get($style-sets, $style-set-id);

$row-color-dark: map-get($style-set, 'row-color-dark');
$row-color-light: map-get($style-set, 'row-color-light');
$row-color-accent: map-get($style-set, 'row-color-accent');
$row-color-dark-foreground: map-get($style-set, 'row-color-dark-foreground');
$row-color-light-foreground: map-get($style-set, 'row-color-light-foreground');
$row-color-accent-foreground: map-get($style-set, 'row-color-accent-foreground');

:root {
    --style-set-id: unquote($style-set-id);
    --row-color-dark: $row-color-dark;
    --row-color-light: $row-color-light;
    --row-color-accent: $row-color-accent;
    --row-color-dark-foreground: $row-color-dark-foreground;
    --row-color-light-foreground: $row-color-light-foreground;
    --row-color-accent-foreground: $row-color-accent-foreground;
}