// ----------------------------------
// BaseKit Standard Theme: Stylesheet
// ----------------------------------


// -----------------------------
// #Table of Contents
// -----------------------------


// 1. #LESS INCLUDES
// 2. #PAGE SETTINGS
// 3. #Mixins

@function bkscale($value, $multiplier) {
    @if type-of($value) != number {
        @return $value;
    }
    @return $value * $multiplier;
}

@mixin border-radius($radius: 3px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($prop: all, $time: 0.5s, $timingFunction: ease) {
    -webkit-transition: $prop $time $timingFunction;
    -moz-transition:    $prop $time $timingFunction;
    -ms-transition:     $prop $time $timingFunction;
    -o-transition:      $prop $time $timingFunction;
    transition:         $prop $time $timingFunction;
}


// -----------------------------
// 1. #LESS Includes
// -----------------------------

$style-set-id: 'sprint' !default;
@import 'sass/style-sets';


@import "bk-sass-framework"; // BaseKit LESS Framework

// ** BaseKit LESS Framework is a set of non obtrusive LESS files that can be pulled into
//    your template to guarentee widgets come to life. Proivides default styles for all widgets.



// Template Includes
@import "sass/widgets"; // Widgets

// Plugin Includes
@import "sass/plugins/plugin-blog"; // Plugin: Blog CSS
@import "sass/plugins/plugin-menu"; // Plugin: Menu CSS
@import "sass/plugins/plugin-ecommerce"; // Plugin: Ecommerce CSS

@import "sass/rows/flexbox-mixins";
@import "sass/rows/layout";
@import "sass/rows/color";

h1 b {
    font-weight: inherit!important;
}

[data-name="content"] + [data-name="content"],
[data-name="content"] + [data-name="button"] {
    margin-top: 6px;
}

.button,
button {
    font-size: 16px;
    padding: 15px 20px;
}

.gallery {
     .row__container & {
        padding: 0!important;
    }
}
